{% extends "base_generic.html" %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/book-list.css' %}">
<h1>Book List</h1>
<div class="book-create-btn-container">
  <a class="book-create-link" href="{% url 'book-create' %}">Create Book</a>
</div>
<ul>
  {% for book in book_list %}
  <li>
    <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
    <a class="book-create-link" href="{% url 'book-update' book.id %}">Edit</a>
    <a class="book-create-link" href="{% url 'book-delete' book.id %}">Delete</a>
  </li>
  {% empty %}
  <p>There are no books in the library.</p>
  {% endfor %}
</ul>

{% endblock %}